<div class="container row d-flex m-auto justify-content-center pt-4 pb-5 p-5">
    <div class="card shadow  mb-2 pt-1 p-4 bg-light col-5">
        <div class="card-body">
            <h2 class="text-center text-uppercase">Change Password</h2>
            <hr/>
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <div class="row mt-3">
                    <div class="form-group col-md-6">
                        <label class="form-label text-uppercase fw-bold">Email</label>
                        <input type="text" class="form-control" formControlName="email"
                            [class.is-invalid]="myForm.controls['email'].invalid && (myForm.controls['email'].dirty || myForm.controls['email'].touched)"
                            required email pattern>
                        <div *ngIf="myForm.controls['email'].invalid && myForm.controls['email'].touched">
                            <div *ngIf="myForm.controls['email'].errors?.['required']" class="text-danger">Email
                                is Required.</div>
                            <div *ngIf="myForm.controls['email'].errors?.['email'] || myForm.controls['email'].errors?.['pattern'] "
                                class="text-danger">Please
                                Enter Valid Email</div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label text-uppercase fw-bold">Current Password</label>
                        <input type="password" class="form-control" formControlName="currentPassword"
                            [class.is-invalid]="myForm.controls['currentPassword'].invalid && (myForm.controls['currentPassword'].dirty || myForm.controls['currentPassword'].touched)"
                            required pattern>
                        <div
                            *ngIf="myForm.controls['currentPassword'].invalid && myForm.controls['currentPassword'].touched">
                            <div *ngIf="myForm.controls['currentPassword'].errors?.['required']"
                                class="text-danger">
                                currentPassword field is required.</div>
                            <div *ngIf="myForm.controls['currentPassword'].errors?.['pattern']"
                                class="text-danger">
                                <ul>
                                    <li>At least 8 characters long.</li>
                                    <li>Contains at least one lowercase letter.</li>
                                    <li>Contains at least one uppercase letter.</li>
                                    <li>Contains at least one digit.</li>
                                    <li>Contains at least one special character.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="form-group col-md-6">
                        <label class="form-label text-uppercase fw-bold">New Password</label>
                        <input type="password" class="form-control" formControlName="newPassword"
                            [class.is-invalid]="myForm.controls['newPassword'].invalid && (myForm.controls['newPassword'].dirty || myForm.controls['newPassword'].touched)"
                            required pattern>
                        <div
                            *ngIf="myForm.controls['newPassword'].invalid && myForm.controls['newPassword'].touched">
                            <div *ngIf="myForm.controls['newPassword'].errors?.['required']"
                                class="text-danger">
                                newPassword field is required.</div>
                            <div *ngIf="myForm.controls['newPassword'].errors?.['pattern']" class="text-danger">
                                <ul>
                                    <li>At least 8 characters long.</li>
                                    <li>Contains at least one lowercase letter.</li>
                                    <li>Contains at least one uppercase letter.</li>
                                    <li>Contains at least one digit.</li>
                                    <li>Contains at least one special character.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="form-label text-uppercase fw-bold">Confirm Password</label>
                        <input type="password" class="form-control" formControlName="confirmPassword"
                            [class.is-invalid]="myForm.controls['confirmPassword'].invalid && (myForm.controls['confirmPassword'].dirty || myForm.controls['confirmPassword'].touched)"
                            required pattern>
                        <div
                            *ngIf="myForm.controls['confirmPassword'].invalid && myForm.controls['confirmPassword'].touched">
                            <div *ngIf="myForm.controls['confirmPassword'].errors?.['required']"
                                class="text-danger">
                                confirmPassword field is required.
                            </div>
                            <div *ngIf="myForm.controls['confirmPassword'].errors?.['pattern']"
                                class="text-danger">
                                <ul>
                                    <li>At least 8 characters long.</li>
                                    <li>Contains at least one lowercase letter.</li>
                                    <li>Contains at least one uppercase letter.</li>
                                    <li>Contains at least one digit.</li>
                                    <li>Contains at least one special character.</li>
                                </ul>
                            </div>
                            <div *ngIf="myForm.controls['confirmPassword'].errors?.['confirmedValidator']"
                                class="text-danger">Password Does Not Match</div>
                        </div>

                    </div>
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <button type="submit" class="btn btn-outline-primary text-uppercase"
                        [disabled]="myForm.invalid">Submit</button>
                </div>
            </form>
                </div>
            </div>
        </div>
    
